# Ignore WordPress core files*/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
sitemap.xml
*.log
/wp-*.php
/index.php
license.txt
readme.html
wp-admin/
wp-includes/
xmlrpc.php
wp-content/cache/
wp-content/backups/
wp-content/mu-plugins/pagely*
wp-config-hosting.php
wp-config.php
sitemap.xml.gz
.DS_Store


/sitemap.xml
/wp-*.php
/index.php
/wp-admin/***
/wp-includes/***
/xmlrpc.php
/db-config.php
/wp-content/index.php
/wp-content/uploads*
/wp-content/advanced-cache.php
/wp-content/object-cache.php
/wp-content/wp-cache-config.php
/wp-content/uploads/***
/wp-content/blogs.dir/***
/wp-content/upgrade/***
/wp-content/backup-db/***
/wp-content/mu-plugins/index.php
/wp-content/themes/index.php
/wp-content/plugins/index.php
/wp-content/languages/index.php
/wp-content/mu-plugins/pagely-*/***


wp-content/themes/genesis-block-theme
wp-content/themes/twentytwentyone
wp-content/themes/twentytwentytwo
wp-content/themes/twentytwentythree